    <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.acelerometroBrujulaApp"
        version     = "0.0.1"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.6.3" />

        <icon src="icon.jpg" />
        
        <name>AcelerometroBrujulaApp</name>

        <description>
        Aplicación que obtiene datos del movimiento del dispositivo por sensor Acelerómetro y Brújula. 
        </description>

        <author href="http://cenet.com" email="carlos@cenet.com">
        Luis Alvaro
        </author>
        
        <gap:plugin name="org.apache.cordova.device-motion" />
        
    </widget>